/* medium large device */
@media screen and (max-width: 992px) {

    .nav-menu-container{
        width: 50%;
    }
}


/* medium device */
@media screen and (max-width:768px) {
    :root{
        font-size: 14px;
    }

    .nav-menu-container{
        width: 50%;
    }

}

/* small device */
@media screen and (max-width:576px) {
    :root{
        font-size: 12px;
    }

    .nav-container {
        flex-direction: column;
    }

    .banner-container{
        flex-direction: column-reverse;
    }

    .nav-container{
        width: 100%;
    }

    .nav-title, .banner-info{
        width: 100%;
        text-align: center;
    }

    .nav-menu-container{
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .banner-info button{
        margin: 0 auto;
    }

    .banner-img{
        width: 80%;
        justify-content: center;
    }

}